<h1>Create a new Song</h1>

<form action="/songs" method="POST">

  <label for="song_name">Name </label>
  <input type="text" name="song[name]" id="song_name">

  <br>

  <h3>New Artist</h3>
  <label for="artist_name">Artist Name </label>
  <input type="text" name="artist[name]" id="artist_name" />
      
  <br>

  <p>Select an existing genre </p>

  <h3>Existing Genres</h3>
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>

  <br>
  <input type="submit" value="Create">
</form>